    @media (min-width: 1800px) {
        #export_all_button {
            margin-left: 30.7% !important;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
        
    }

    @media (min-width: 1700px) and (max-width: 1799px) {
        #export_all_button {
            margin-left: 32.8% !important;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
    }

    @media (min-width: 1500px) and (max-width: 1699px) {
        #export_all_button {
            margin-left: 37.5% !important;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
    }

    @media (min-width: 1300px) and (max-width: 1499px) {
        #export_all_button {
            margin-left: 41.8% !important;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
    }

    @media (min-width: 1200px) and (max-width: 1299px) {
        #export_all_button {
            margin-left: 46.3% !important;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        #export_all_button {
            margin-left: 53% !important;
        }

        .margin-adjust-widget {
            margin-bottom: 1px !important;
            height: 130px;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
        
    }

    @media (max-width: 991.98px) {


        #export_all_button {
            margin-left: 65.5% !important;
        }

        .margin-adjust-widget {
            margin-bottom: 1px !important;
            height: 130px;
        }

        .widget_1_mobile {
            display: none;
        }
        .mobile_star{
            display: none;
        }
    }

    @media (max-width: 768px) {
        #site-1 {
            display: none;
        }

        .mobile_star{
            display: block;
        }

        .widget_1 {
            display: none;
        }

        .widget_1_mobile {
            display: block;
        }

        .risk_widget {
            height: 120px;
        }

        .tablet_view {
            margin-left: 10rem;
        }

        /* .button_div{
            margin-top:2rem;
        } */

        .performance_div {
            margin-left: 6rem;
        }

        .height-adjust {
            height: 370px !important;
        }

        .center-yu {
            flex-direction: column;
            margin-left: 9rem;
        }

        .col7,
        .col5 {
            height: 700px !important;
        }

        .overview-div {
            margin-left: 5rem;
        }

        .pull-up-1 {
            height: 130px;
        }

        .col8 {
            display: none;
        }

        .col10 {
            display: none;
        }

        .min-max-3 {
            max-width: 600px !important;
            min-width: 599px !important;
        }

        #hit-rate-doughnut {
            width: 250px !important;
            height: 250px !important;
            margin-left: 75px;
        }

        #deals-doughnut {
            width: 250px !important;
            height: 250px !important;
            margin-top: 35px;
            margin-left: 75px;
        }

        .col9 {
            margin-top: 11px !important;
        }

        #thisYearRevenue {

            width: 345px;
            height: 215px;
        }

        #lastYearRevenue {
            width: 345px;
            height: 215px;
        }


        .col5 {
            height: 650px;
        }


        .min-max {
            max-width: 98% !important;
            min-width: 98% !important;
            margin-left: 0 !important;
            height: 350px;
        }

        .min-max-2 {
            max-width: 98% !important;
            min-width: 98% !important;
            margin-left: 0px !important;
            height: 350px;

        }


        .min-widget {
            width: 100% !important;
        }


        .col12,
        .col13 {
            margin-left: 0 !important;
        }

        .call-pullup {
            margin-top: 0 !important;
        }

        .small-view {
            margin-left: -27px;
        }


    }

    @media only screen and (max-width: 425px) {

        .widget_1 {
            display: none;
        }

        .widget_1_mobile {
            display: block;
        }

        .risk_widget {
            height: 120px;
        }

        .col5 {
            display: none;
        }

        .center-yu {
            flex-direction: column;
            margin-left: 5rem !important;
        }

        .col7 {
            height: 700px !important;
        }

        #dashboard-donut-chart {
            top: -2rem !important;
        }

        #hit-rate-doughnut {
            width: 200px !important;
            height: 200px !important;
            margin-left: 75px;
        }

        #deals-doughnut {
            width: 200px !important;
            height: 200px !important;
            margin-top: 35px;
            margin-left: 75px;
        }

        .col-hide {
            display: none;
        }

        #category-data svg {
            width: 322px;
        }

        #timeseries svg {
            width: 322px;
        }

        .col3 {
            margin-top: 31px;
        }

        .option-button-div {
            margin-right: -14px !important;
        }

        #disptach-events :last-child svg {
            margin-top: -10rem;
            width: 307.5;
            height: 230;
        }

        #disptach-events {
            width: 300px;
            height: 350px;
        }

    }

    @media only screen and (max-width: 575px) {
        .col5 {
            display: none;
        }
    }

    @media only screen and (max-width: 516px) {
        .col5 {
            display: none;
        }

        .widget_1 {
            display: none;
        }

        .widget_1_mobile {
            display: block;
        }
    }

    /* @media (min-width: 320px) and (max-width: 538px) {
        .minimal select {
            margin: 3px 0px 18px -13px;
        }
    } */