	.table-options-left {
	    position: fixed;
	    left: 36px;
	}

	table.dataTable thead th,
	table.dataTable thead td {
	    border-bottom: 1px solid #e3ebf3;
	}

	.table {
	    color: #737373;
	    width: 100%;
	}

	.table thead th {
	    vertical-align: bottom;
	    border-bottom: 3px solid #003B7E;
		border-top: 1px solid #E3EBF3 !important;
		z-index: 1;
	}

	.table th,
	.table td {
	    border-top: none;
	}

	.page-item.active .page-link {
	    z-index: 1;
	    color: #FFFFFF;
	    background-color: #003B7E;
	    border-color: #003B7E;
	}

	.btn-secondary {
	    border-color: #003b7e !important;
	    background-color: #003B7E !important;
	    color: #FFFFFF;
	}

	.btn-secondary:hover {
	    border-color: #003b7e !important;
	    background-color: white !important;
	    color: #003b7e !important;
	    transition-delay: 10s;
	    -webkit-transition-delay: 10s;
	    /* for Safari & Chrome */
	}

	.table-loader {
	    visibility: visible;
	    display: table-caption;
	    content: " ";
	    width: 100%;
	    height: 600px;
	    background-image: linear-gradient(rgba(235, 235, 235, 1) 1px, transparent 0), linear-gradient(90deg, rgba(235, 235, 235, 1) 1px, transparent 0), linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0) 30%), linear-gradient(rgba(240, 240, 242, 1) 35px, transparent 0);
	    background-repeat: repeat;
	    background-size: 1px 35px, calc(100% * 0.1666666666) 1px, 30% 100%, 2px 70px;
	    background-position: 0 0, 0 0, 0 0, 0 0;
	    animation: shine 0.5s infinite;
	}

	table.dataTable.no-footer {
	    border-bottom: 1px solid #e3ebf3;
	}

	@keyframes shine {
	    to {
	        background-position: 0 0, 0 0, 40% 0, 0 0;
	    }
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button {
	    height: 35px;
	    color: #fff !important;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current {
	    background-image: linear-gradient(to right, #fff 0%, #fff 100%) !important;
	    color: #0073b0 !important;
	    outline: none;
	    border-radius: 3px;
	    border: 1px solid #0073b0;
	}

	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	    background: red;
	    color: #0073b0 !important;
	}

	.dataTables_wrapper .dataTables_filter input {
	    border: none;
	    border-bottom: 1px solid black;
	    padding: 5px;
	    outline: none;
	}

	.table-heading-elements-yu {
	    position: absolute;
	}

	.table-card-header-yu {
	    position: relative;
	}

	.table-yu {
	    margin-top: 0.5rem !important;
	}

	.table-yu-margin-top {
	    margin-top: -14.5rem !important;
	}

	.hide_button:hover {
	    background-image: linear-gradient(to right, #FF1635 0%, #FF7C8D 100%) !important;
	    border-color: #fff !important;
	}

	.page_length_button:hover {
	    background-image: linear-gradient(to right, #FF1635 0%, #FF7C8D 100%) !important;
	    border-color: #fff !important;
	    color: #fff !important;
	}

	.excel_button:hover {
	    background: #00517cf5 !important;
	}

	.hide_show_button:hover {
	    background: #00517cf5 !important;
	    color: #fff
	}

	.hide_show_button {
	    background-image: linear-gradient(to bottom, #fff 0%, #ffffff 100%) !important;
	    border-color: #000;
	}

	.filter_export_button:hover {
	    background: #00517cf5 !important;
	    color: #fff !important;
	}

	.filter_export_button {
	    background-image: linear-gradient(to bottom, #fff 0%, #ffffff 100%) !important;
	    border-color: #000;
	}

	.export_button:hover {
	    background: #00517cf5 !important;
	    color: #fff !important;
	}

	.export_button {
	    background-image: linear-gradient(to bottom, #fff 0%, #ffffff 100%) !important;
	    border-color: #000;
	}

	.hide_button {
	    background-image: linear-gradient(to bottom, #fff 0%, #ffffff 100%) !important;
	    border-color: #000;
	}

	.page_length_button {
	    background-image: linear-gradient(to bottom, #fff 0%, #ffffff 100%) !important;
	    border-color: #000;
	}

	.filter_export_button,
	.delete_button {
	    background: none !important;
	}

	.filter_export_button:hover,
	.delete_button:hover {
	    background-image: linear-gradient(to right, #00517cf5 0%, #00517cf5 100%) !important;
	    border-color: #fff !important;
	    color: white;
	}

	.excel_button {
	    background: none !important;
	}

	.excel_button:hover {
	    background-image: linear-gradient(to right, #00517cf5 0%, #00517cf5 100%) !important;
	    border-color: #fff !important;
	    color: white;
	}

	.card-title {
	    margin-bottom: 0rem;
	}

	.position-right {
	    position: absolute;
	    top: 0;
	    right: 0;
	}

	.filter_button {
	    border-radius: 0px !important;
	}

	.filter_div {
	    width: 102%;
	    position: absolute;
	    top: -12px;
	    left: -15px;
	    background-color: #f4f4f4;
	    z-index: 106;
	    box-shadow: 0px 4px 4px #c5c5c5;
	}

	.card-height {
	    height: 175px;
	    background-color: #f4f4f4;
	    margin-bottom: 0px;
	}

	.checkbox label:after,
	.radio label:after {
	    content: '';
	    display: table;
	    clear: both;
	}

	.checkbox .cr,
	.radio .cr {
	    position: relative;
	    display: inline-block;
	    border: 1px solid #a9a9a9;
	    border-radius: .25em;
	    width: 1.3em;
	    height: 1.3em;
	    margin-right: .5em;
	}

	.radio .cr {
	    border-radius: 50%;
	}

	.checkbox .cr .cr-icon,
	.radio .cr .cr-icon {
	    position: absolute;
	    font-size: .8em;
	    line-height: 0;
	    top: 50%;
	    left: 20%;
	}

	.radio .cr .cr-icon {
	    margin-left: 0.04em;
	}

	.checkbox label input[type="checkbox"],
	.radio label input[type="radio"] {
	    display: none;
	}

	.checkbox label input[type="checkbox"]+.cr>.cr-icon,
	.radio label input[type="radio"]+.cr>.cr-icon {
	    transform: scale(3) rotateZ(-20deg);
	    opacity: 0;
	    transition: all .3s ease-in;
	}

	.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
	.radio label input[type="radio"]:checked+.cr>.cr-icon {
	    transform: scale(1) rotateZ(0deg);
	    opacity: 1;
	}

	.checkbox label input[type="checkbox"]:disabled+.cr,
	.radio label input[type="radio"]:disabled+.cr {
	    opacity: .5;
	}

	.option_style {
	    overflow-y: scroll;
	    height: 125px;
	}

	.option_style:hover {
	    overflow-y: auto;
	}

	::-webkit-scrollbar {
	    height: 8px;
	    width: 8px;
	}

	/* Track */

	::-webkit-scrollbar-track {
	    border-radius: 8px;
	}

	/* Handle */

	::-webkit-scrollbar-thumb {
	    background: #c5c5c5;
	    border-radius: 10px;
	}

	/* Handle on hover */

	::-webkit-scrollbar-thumb:hover {
	    background: #0073b0;
	}

	.table td {
	    padding: 0.55rem !important;
	}

	.toggle-small {
	    cursor: pointer;
	    text-indent: -9999px;
	    width: 27px;
	    height: 15px;
	    background: grey;
	    border-radius: 100px;
	    position: relative;
	}

	.toggle-small:after {
	    content: '';
	    position: absolute;
	    top: 3px;
	    left: 2px;
	    width: 9px;
	    height: 9px;
	    background: #fff;
	    border-radius: 90px;
	    transition: 0.3s;
	}

	.table th {
	    padding-top: 0.4rem !important;
	    padding-bottom: 0.4rem !important;
	    padding-right: 0.4rem !important;
	    padding-left: 0.2rem !important;
	}

	.table th,
	.table td {
	    border-bottom: 0.2px solid #eff7ff !important;
	}

	label {
	    margin-bottom: 0;
	}

	/* width */
	/**/
	/*ustom Datatable Style*/
	/*Remove Extra Sort Iocns from the Table Body*/

	div.dataTables_scrollBody thead th,
	div.dataTables_scrollBody thead td {
	    line-height: 0;
	    opacity: 0.0;
	    width: 0px;
	    height: 0px;
	}

	/*END Remove Extra Sort Iocns from the Table Body*/

	div.dt-button-collection button.dt-button,
	div.dt-button-collection div.dt-button,
	div.dt-button-collection a.dt-button {
	    border: none !important;
	    background: none !important;
	}

	.checkbox label:after,
	.radio label:after {
	    content: '';
	    display: table;
	    clear: both;
	}

	button.dt-button {
	    text-align: left
	}

	th input {
	    padding-left: 5px;
	    padding-right: 5px
	}

	.checkbox .cr,
	.radio .cr {
	    position: relative;
	    display: inline-block;
	    border: 1px solid #a9a9a9;
	    border-radius: .25em;
	    width: 1.3em;
	    height: 1.3em;
	    margin-right: .5em;
	}

	.radio .cr {
	    border-radius: 50%;
	}

	.checkbox .cr .cr-icon,
	.radio .cr .cr-icon {
	    position: absolute;
	    font-size: .8em;
	    line-height: 0;
	    top: 50%;
	    left: 20%;
	    cursor: pointer;
	}

	.radio .cr .cr-icon {
	    margin-left: 0.04em;
	}

	.checkbox label input[type="checkbox"],
	.radio label input[type="radio"] {
	    display: none;
	}

	.checkbox label input[type="checkbox"]+.cr>.cr-icon,
	.radio label input[type="radio"]+.cr>.cr-icon {
	    transform: scale(3) rotateZ(-20deg);
	    opacity: 0;
	    transition: all .3s ease-in;
	}

	.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
	.radio label input[type="radio"]:checked+.cr>.cr-icon {
	    transform: scale(1) rotateZ(0deg);
	    opacity: 1;
	}

	.checkbox label input[type="checkbox"]:disabled+.cr,
	.radio label input[type="radio"]:disabled+.cr {
	    opacity: .5;
	}

	button.dt-button:active:not(.disabled):hover:not(.disabled),
	button.dt-button.active:not(.disabled):hover:not(.disabled),
	div.dt-button:active:not(.disabled):hover:not(.disabled),
	div.dt-button.active:not(.disabled):hover:not(.disabled),
	a.dt-button:active:not(.disabled):hover:not(.disabled),
	a.dt-button.active:not(.disabled):hover:not(.disabled) {
	    background: #0073b0 !important;
	    color: #fff !important;
	}

	button.dt-button:active:not(.disabled):hover:,
	button.dt-button.active:not(.disabled):hover:,
	div.dt-button:active:not(.disabled):hover,
	div.dt-button.active:not(.disabled):hover,
	a.dt-button:active:not(.disabled):hover,
	a.dt-button.active:not(.disabled):hover: {
	    background: #0073b0;
	    color: #000 !important;
	}

	div.dt-button-collection button.dt-button.active:not(.disabled) {
	    margin-bottom: 0px;
	}

	.dt-button.button-page-length:hover {
	    color: black;
	}

	div.dt-button-collection button.dt-button,
	div.dt-button-collection div.dt-button,
	div.dt-button-collection a.dt-button:hover {
	    color: #000 !important;
	}

	.dt-button:focus {
	    color: #fff !important;
	}

	div.dt-button-collection button.dt-button.active:not(.disabled) {
	    background: #6f6f6f !important;
	    color: #fff !important;
	}

	button.dt-button:hover {
	    background: #6f6f6f;
	}

	div.dt-button-collection {
	    padding: 0px !important;
	}

	/*div.dt-button-collection button.dt-button.active:not(.disabled){
        background:none !important;
        color: #000 !important;
    }*/

	div.dt-button-collection {
	    width: 120px;
	}

	div.dt-button-background {
	    background: none;
	}

	/*END Custom Datatable Style*/