    @media (min-width: 320px) and (max-width: 274px) {
        .select.minimal {

            margin-bottom: 18px;
            margin-left: -12px;
        }
    }

    @media (max-width: 600px) {
        .star_mobile_widget_div {
            display: block;
        }

        .star_widget_div {
            display: none;
        }

        .count_in_widget {
            font-size: 25px !important;
        }

        select.minimal {
            height: 34px;
        }

        .small_style_common {
            font-size: 18px;
            margin-top: -9px;
        }

        .main_list_div {
            top: 0 !important;
        }

        .audit_month_form_cls_mobile {
            display: block;
            position: relative;
            left: 22px;
        }

        .audit_month_form_cls {
            display: none;
        }

        .excellent_div {
            border: none !important;
        }

        .score_div_form {
            position: relative;
            left: -20px;
        }
    }

    @media (min-width: 600px) and (max-width: 767px) {
        .star_mobile_widget_div {
            display: block;
        }

        .star_widget_div {
            display: none;
        }

        .count_in_widget {
            font-size: 25px !important;
        }

        select.minimal {
            height: 34px;
        }

        .small_style_common {
            font-size: 18px;
            margin-top: -9px;
        }

        .main_list_div {
            top: 0 !important;
        }

        .audit_month_form_cls_mobile {
            display: block;
        }

        .audit_month_form_cls {
            display: none;
        }

        .excellent_div {
            border: none !important;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .star_mobile_widget_div {
            display: block;
        }

        .star_widget_div {
            display: none;
        }

        .count_in_widget {
            font-size: 25px !important;
        }

        select.minimal {
            height: 34px;
        }

        .small_style_common {
            font-size: 18px;
            margin-top: -9px;
        }

        .main_list_div {
            top: 0 !important;
        }

        .audit_month_form_cls_mobile {
            display: block;
        }

        .audit_month_form_cls {
            display: none;
        }

        .excellent_div {
            border: none !important;
        }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
        .star_mobile_widget_div {
            display: none;
        }

        .audit_month_form_cls_mobile {
            display: none;
        }
    }

    @media (min-width: 1200px) and (max-width: 1499px) {
        .star_mobile_widget_div {
            display: none;
        }

        .audit_month_form_cls_mobile {
            display: none;
        }
    }

    @media (min-width: 1500px) and (max-width: 1799px) {
        .star_mobile_widget_div {
            display: none;
        }

        .audit_month_form_cls_mobile {
            display: none;
        }
    }

    @media (min-width: 1800px) {
        .star_mobile_widget_div {
            display: none;
        }

        .audit_month_form_cls_mobile {
            display: none;
        }
    }