/*================================================================================
	Item Name: Modern Admin - Clean Bootstrap 4 Dashboard HTML Template
	Version: 1.0
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.company-logo {
  height: 50px;
  width: auto;
  margin-left: 15px;
  margin-top: -15px
}

.card_stats_block_blue {
  background-color: #90c3e473;
  border-radius: 10px;
  border: 1px solid #48aced;
  padding: 1rem;
  height: 100px;
}

.text-black-yu {
  color: black !important;
}

.card_stats_block_orange {
  background-color: #ffcba97a;
  border-radius: 10px;
  border: 1px solid #ff9149;
  "
padding: 1rem;
  height: 100px;
}

.primary {
  background-color: #00517cf5 !important;
  color: #fff !important;
}

.card_stats_block_red {
  background-color: #ffc4cc80;
  border-radius: 10px;
  border: 1px solid #ff4961;
  padding: 1rem;
  height: 100px;
}

.card_stats_block_green {
  background-color: #95e8ca38;
  border-radius: 10px;
  border: 1px solid #28d094;
  padding: 1rem;
  height: 100px;
}

.bot-icon-style {
  font-size: 40px !important;
  color: GREEN;
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.content-title {
  font-size: 18px;

}

.table-options-left {
  position: fixed;
  left: 36px;
}

.btn-width {
  width: 150px !Important;
}

.btn-width-big {
  width: 200px !Important;
}

.btn-padding {
  padding-left: 20px !Important;
  padding-right: 10px !Important;
}

.position {
  top: 129px !Important;
  left: 41px !Important;
}

.menu-icon {
  font-size: 21px !Important;
  color: #6B6F82 !Important;
}

.menu-tab {
  height: 79px !Important;
}

.menu-width {
  width: 75px !Important;
}

.nav-h {
  height: 44px !Important;
}

.align {
  display: flex;
  align-items: center;
}

.footer-test-size {
  font-size: 14px
}

.footer-color {
  color: #6B6F82 !Important;
}

.btn-primary-color {
  background-color: #003b7e !Important;
  color: #fff !Important;
}

.btn-secondary-color {
  background-color: #003b7e !Important;
  color: #fff !Important;
}

.btn-tertiary-color {
  background-color: #2c303b !Important;
  color: #fff !Important;
}

.btn-primary-color:hover {
  background-image:
    linear-gradient(to right,
      #6B6F82, #000);
  color: #fff;
}



.btn-tertiary-color:hover {
  background-image:
    linear-gradient(to right,
      #2c303b, #000);
  color: #fff;
}

.btn-standard {}

.btn-standard-a {
  height: 35px !Important;
  padding: 7px !Important;
}

.link-default {
  color: ##008FA1;
}

.link-primary {
  color: ##008FA1;
  text-decoration: underline;
}

.link-custom {
  color: ##008FA1;
  text-decoration: underline;
}

.link-custom:hover {
  color: #ab127e;
}

.title-large {
  font-size: 24px;
  color: #000;
}

.title-medium {
  font-size: 22px;
  color: #000;
}

.title-small {
  font-size: 18px;
  color: #000;
}

.toggle-check {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle {
  cursor: pointer;
  text-indent: -9999px;
  width: 74px;
  height: 35px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 100px !Important;
}

.toggle:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+.toggle {
  background: #bada55;
}

input:checked+.toggle:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.input-box-standard {
  outline: none;
  border: none;
  border-bottom: 1px solid #ab127f;
  width: 200px;
  padding: 3px;
}

.table-custom {
  border-collapse: collapse;
  width: 100%;
}

.table-custom th {
  padding-left: 10px;
}

.table-custom td {
  padding-left: 10px;
}

.table-custom tr {
  height: 41px;
}

/*
.toggle:active:after {
  width: 130px;
}*/
.btn-warning-yu {
  background-color: #ff9149;
  color: #fff;
}

.btn-warning-yu:hover {
  color: #fff;
}

.btn-danger-yu:hover {
  color: #fff;
}

.btn-success-yu:hover {
  color: #fff;
}

.btn-primary-yu:hover {
  color: #fff;
}

.btn-danger-yu {
  background-color: #ff4961;
  color: #fff;
}

.btn-primary-yu {
  background-color: #008FA1;
  color: #fff;
}

.btn-success-yu {
  background-color: #28d094;
  color: #fff;
}

.collapse-icon-yu .card-header {
  position: relative;
}

.collapse-icon-yu a[data-toggle='collapse']:after {
  position: absolute;
  top: 48%;
  right: 20px;
  margin-top: -8px;
  font-family: 'feather';
  content: '\e982';
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.collapse-icon-yu a[data-toggle='collapse']:before {
  position: absolute;
  top: 48%;
  right: 20px;
  margin-top: -8px;
  font-family: 'feather';
  content: '\e99d';
  -webkit-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.collapse-icon-yu.left-yu a {
  padding-left: 28px;
}

.collapse-icon-yu.left-yu a:before,
.collapse-icon.left-yu a:after {
  left: 20px;
  right: auto;
}

.collapse-icon-yu a[aria-expanded='true']:before {
  opacity: 0;
}

.collapse-icon-yu a[aria-expanded='false']:after {
  opacity: 0;
}

.collapse-icon-yu.accordion-icon-rotate-yu a[aria-expanded='true']:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.collapse-icon-yu.accordion-icon-rotate-yu a[aria-expanded='false']:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.card-yu {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 0.35rem;
}

.card-yu>hr {
  margin-right: 0;
  margin-left: 0;
}

.card-yu>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.35rem;
  border-top-right-radius: 0.35rem;
}

.card-yu>.list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.card-body-yu {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem;
}

.card-title-yu {
  margin-bottom: 1.5rem;
}

.card-subtitle-yu {
  margin-top: -0.75rem;
  margin-bottom: 0;
}

.card-text-yu:last-child {
  margin-bottom: 0;
}

.card-link-yu:hover {
  text-decoration: none;
}

.card-link-yu+.card-link-yu {
  margin-left: 1.5rem;
}

.card-header-yu {
  padding: 1.5rem 1.5rem;
  margin-bottom: 0;
  background-color: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.card-header-yu:first-child {
  border-radius: -webkit-calc(0.35rem - 1px) -webkit-calc(0.35rem - 1px) 0 0;
  border-radius: -moz-calc(0.35rem - 1px) -moz-calc(0.35rem - 1px) 0 0;
  border-radius: calc(0.35rem - 1px) calc(0.35rem - 1px) 0 0;
}

.card-header-yu+.list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer-yu {
  padding: 1.5rem 1.5rem;
  background-color: #FFFFFF;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.card-footer-yu:last-child {
  border-radius: 0 0 -webkit-calc(0.35rem - 1px) -webkit-calc(0.35rem - 1px);
  border-radius: 0 0 -moz-calc(0.35rem - 1px) -moz-calc(0.35rem - 1px);
  border-radius: 0 0 calc(0.35rem - 1px) calc(0.35rem - 1px);
}

.card-header-tabs-yu {
  margin-right: -0.75rem;
  margin-bottom: -1.5rem;
  margin-left: -0.75rem;
  border-bottom: 0;
}

.card-header-pills-yu {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.card-img-overlay-yu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img-yu {
  width: 100%;
  border-radius: -webkit-calc(0.35rem - 1px);
  border-radius: -moz-calc(0.35rem - 1px);
  border-radius: calc(0.35rem - 1px);
}

.card-img-top-yu {
  width: 100%;
  border-top-left-radius: -webkit-calc(0.35rem - 1px);
  border-top-left-radius: -moz-calc(0.35rem - 1px);
  border-top-left-radius: calc(0.35rem - 1px);
  border-top-right-radius: -webkit-calc(0.35rem - 1px);
  border-top-right-radius: -moz-calc(0.35rem - 1px);
  border-top-right-radius: calc(0.35rem - 1px);
}

.card-img-bottom-yu {
  width: 100%;
  border-bottom-right-radius: -webkit-calc(0.35rem - 1px);
  border-bottom-right-radius: -moz-calc(0.35rem - 1px);
  border-bottom-right-radius: calc(0.35rem - 1px);
  border-bottom-left-radius: -webkit-calc(0.35rem - 1px);
  border-bottom-left-radius: -moz-calc(0.35rem - 1px);
  border-bottom-left-radius: calc(0.35rem - 1px);
}

.card-deck-yu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-deck-yu .card-yu {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-deck-yu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .card-deck-yu .card-yu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -moz-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
}

.card-group-yu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.card-group-yu>.card-yu {
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .card-group-yu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .card-group-yu>.card-yu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0;
    -moz-box-flex: 1;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    margin-bottom: 0;
  }

  .card-group-yu>.card-yu+.card-yu {
    margin-left: 0;
    border-left: 0;
  }

  .card-group-yu>.card-yu:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group-yu>.card-yu:not(:last-child) .card-img-top-yu,
  .card-group-yu>.card-yu:not(:last-child) .card-header-yu {
    border-top-right-radius: 0;
  }

  .card-group-yu>.card-yu:not(:last-child) .card-img-bottom-yu,
  .card-group-yu>.card-yu:not(:last-child) .card-footer-yu {
    border-bottom-right-radius: 0;
  }

  .card-group-yu>.card-yu:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group-yu>.card-yu:not(:first-child) .card-img-top-yu,
  .card-group-yu>.card-yu:not(:first-child) .card-header-yu {
    border-top-left-radius: 0;
  }

  .card-group-yu>.card-yu:not(:first-child) .card-img-bottom-yu,
  .card-group-yu>.card-yu:not(:first-child) .card-footer-yu {
    border-bottom-left-radius: 0;
  }
}

.card-columns-yu .card-yu {
  margin-bottom: 1.5rem;
}

@media (min-width: 576px) {
  .card-columns-yu {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns-yu .card-yu {
    display: inline-block;
    width: 100%;
  }
}

.accordion>.card-yu {
  overflow: hidden;
}

.accordion>.card-yu:not(:first-of-type) .card-header-yu:first-child {
  border-radius: 0;
}

.accordion>.card-yu:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}

.accordion>.card-yu:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.accordion>.card-yu:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.accordion>.card-yu .card-header-yu {
  margin-bottom: -1px;
}

.custom-file-yu {
  position: relative;
  display: inline-block;
  width: 50%;
  height: -webkit-calc(1.25em + 1.5rem + 2px);
  height: -moz-calc(1.25em + 1.5rem + 2px);
  height: calc(1.25em + 1.5rem + 2px);
  margin-bottom: 0;
}

.custom-file-small-yu {
  position: relative;
  display: inline-block;
  width: 25%;
  height: -webkit-calc(1.25em + 1.5rem + 2px);
  height: -moz-calc(1.25em + 1.5rem + 2px);
  height: calc(1.25em + 1.5rem + 2px);
  margin-bottom: 0;
}

.custom-file-big-yu {
  position: relative;
  display: inline-block;
  width: 100%;
  height: -webkit-calc(1.25em + 1.5rem + 2px);
  height: -moz-calc(1.25em + 1.5rem + 2px);
  height: calc(1.25em + 1.5rem + 2px);
  margin-bottom: 0;
}

.custom-file-input-yu {
  position: relative;
  z-index: 2;
  width: 100%;
  height: -webkit-calc(1.25em + 1.5rem + 2px);
  height: -moz-calc(1.25em + 1.5rem + 2px);
  height: calc(1.25em + 1.5rem + 2px);
  margin: 0;
  opacity: 0;
}

.custom-file-input-yu:focus~.custom-file-label-yu {
  border-color: #AE94DD;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.custom-file-input-yu:disabled~.custom-file-label-yu {
  background-color: #98A4B8;
}

.custom-file-input-yu:lang(en)~.custom-file-label-yu::after {
  content: 'Browse';
}

.custom-file-input-yu~.custom-file-labe-yul[data-browse]::after {
  content: attr(data-browse);
}

.custom-file-label-yu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: -webkit-calc(1.25em + 1.5rem + 2px);
  height: -moz-calc(1.25em + 1.5rem + 2px);
  height: calc(1.25em + 1.5rem + 2px);
  padding: 0.75rem 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #4E5154;
  background-color: #FFFFFF;
  border: 1px solid #BABFC7;
  border-radius: 0.25rem;
}

.nav-yu {
  height: 42px !important;
  font-size: 14px !important;
  color: #464855 !important;
}

.custom-file-label-yu::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: -webkit-calc(1.25em + 1.5rem);
  height: -moz-calc(1.25em + 1.5rem);
  height: calc(1.25em + 1.5rem);
  padding: 0.75rem 1rem;
  line-height: 1.25;
  color: #4E5154;
  content: 'Browse';
  background-color: #F4F5FA;
  border-left: inherit;
  border-radius: 0 0.25rem 0.25rem 0;
}

.card-yu {
  margin-bottom: 1.875rem;
  border: none;
  -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
  box-shadow: 0 1px 15px 1px rgba(62, 57, 107, 0.07);
}

.btn-yu {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  height: 35px !Important;
  padding: 0 !Important;
  line-height: 1.25;
  border-radius: 25px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .btn-yu {
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

/*
.btn-yu:hover {
  box-shadow: 9px 10px 10px -10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
*/
.btn-yu:focus,
.btn-yu.focus-yu {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-yu.disabled,
.btn-yu:disabled {
  opacity: 0.65;
}

a.btn-yu.disabled,
fieldset:disabled a.btn-yu {
  pointer-events: none;
}

h4,
.h4 {
  font-size: 18px;
  font-weight: 500;
}

.content-title {
  font-size: 18px;
  font-weight: 500;
}

.toggle-small {
  cursor: pointer;
  text-indent: -9999px;
  width: 51px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
}

.toggle-small:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+.toggle-small {
  background: #00517cf5 !important;
}

input:checked+.toggle-small:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-big {
  cursor: pointer;
  text-indent: -9999px;
  width: 95px;
  height: 40px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  margin-right: 100px !Important;
}

.toggle-big:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked+.toggle-big {
  background: #bada55;
}

input:checked+.toggle-big:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.btn-lg {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 42px !Important;
  line-height: 1.25;
  border-radius: 25px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.margin-icon {
  margin-left: 10px;
}

@media (prefers-reduced-motion: reduce) {
  .btn-lg {
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

.btn-lg:hover {
  color: #fff;
  text-decoration: none;
}

.btn-lg:focus,
.btn-lg.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-lg.disabled,
.btn-lg:disabled {
  opacity: 0.65;
}

a.btn-lg.disabled,
fieldset:disabled a.btn-lg {
  pointer-events: none;
}

.radio {
  margin: 0.5rem;
}

.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.cust-margin {
  margin-left: 8px;
}

.radio input[type="radio"]+.radio-label:before {
  content: '';
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #b4b4b4;
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: -0.2em;
  margin-top: 6px;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked+.radio-label:before {
  background-color: #00517cf5;
  margin-top: 6px;
  box-shadow: inset 0 0 0 3px #f4f4f4;
}

.radio input[type="radio"]:focus+.radio-label:before {
  outline: none;
  border-color: #3197EE;
}

.radio input[type="radio"]:disabled+.radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio input[type="radio"]+.radio-label:empty:before {
  margin-right: 0;
}

.btn-sm {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.25;
  height: 28px !Important;
  padding: 0px !Important;
  border-radius: 25px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.input-bt-yu {
  width: 200px !Important;
  height: 35px !Important;
}

.input-default-yu {
  padding: 3px 5px;
}

@media (prefers-reduced-motion: reduce) {
  .btn-sm {
    -webkit-transition: none;
    -o-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

.btn-sm:hover {
  color: #fff;
  text-decoration: none;
}

.btn-sm:focus,
.btn-sm.focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-sm.disabled,
.btn-sm:disabled {
  opacity: 0.65;
}

a.btn-sm.disabled,
fieldset:disabled a.btn-sm {
  pointer-events: none;
}

.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}

.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}

.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}

.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}

.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}

.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}

.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: "";
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


/* status dropdown bg color */
.bg-green {
  background-color: #a1d36e !important;
  border-color: #a1d36e !important;
  color: #fff;
}

.bg-orange {
  background-color: #FF9800;
  border-color: #FF9800;
  color: #fff;
}

.bg-danger {
  background-color: #fa6f57 !important;
  border-color: #fa6f57 !important;
  color: #fff;
}

.bg-success {
  background-color: #4CAF50 !important;
  border-color: #4CAF50;
  color: #fff;
}

.bg-rescheduled {
  background-color: #3cccc6;
  border-color: #3cccc6;
  color: white;
}

.border-rescheduled {
  border: 1px solid #3cccc6;
}


.bg-onhold {
  background-color: #935b1a;
  border-color: #935b1a;
  color: white;
}

.border-onhold {
  border: 1px solid #935b1a;
}

.bg-audited {
  background-color: #a1d36e;
  border-color: #a1d36e;
  color: white;
}

.border-audited {
  border: 1px solid #a1d36e;
}

.bg-scheduled {
  background-color: #f5ad5f;
  border-color: #f5ad5f;
  color: white;
}

.border-scheduled {
  border: 1px solid #f5ad5f;
}

.bg-converted {
  background-color: #a1d36e;
  border-color: #a1d36e;
  color: white;
}

.border-converted {
  border: 1px solid #a1d36e;
}

.bg-pending {
  background-color: #568dd5;
  border-color: #568dd5;
  color: white;
}

.border-pending {
  border: 1px solid #568dd5;
}

.bg-missed {
  background-color: #fa6f57;
  border-color: #fa6f57;
  color: white;
}

.border-missed {
  border: 1px solid #fa6f57;
}

.bg-manual {
  background-color: #f5ad5f;
  border-color: #f5ad5f;
  color: white;
}

.border-manual {
  border: 1px solid #f5ad5f;
}

.bg-deleted {
  background-color: #935b1a;
  border-color: #935b1a;
  color: white;
}

.border-deleted {
  border: 1px solid #935b1a;
}

.bg-auto-close {
  background-color: #fa6f57;
  border-color: #fa6f57;
  color: white;
}

.border-auto-close {
  border: 1px solid #fa6f57;
}

.bg-reopen {
  background-color: #568dd5;
  border-color: #568dd5;
  color: white;
}

.border-reopen {
  border: 1px solid #568dd5;
}

.bg-regular{
  background-color: #3cccc6;
}

.bg-final{
  background-color: #fa6f57;
}