.card-body{
	padding: 1rem !important;
}

html body .content .content-wrapper {
    padding: 1rem !important;
}

.card-header {
    padding: 0.5rem 0.5rem !important;
}

.round-btn-small {
  display:block;
  height: 43px;
  width: 43px;
  border-radius: 50% !important;  
}

.dataTables_filter
    {
        float: right;
    }
    #DataTables_Table_0_paginate
    {
        float: right;
    }