.btn-default {
    height: 35px !important;
    padding: 0;
    width: 100px !important;
    border-radius: 25px !important;
}
.cellEditing input[type=text] {
    width: 100%;
    border: 0;
    background-color: rgb(255, 253, 210);
}
.daterangepicker {
    width: 650px;
}	
.cellEditing input[type=date] {
    width: 100%;
    border: 0;
    background-color: rgb(255, 253, 210);
}
.cellEditing select {
    width: 100%;
    border: 0;
    background-color: rgb(255, 253, 210);
}
.cellEditing input[type=number] {
    width: 100%;
    border: 0;
    background-color: rgb(255, 253, 210);
}
.toggle-div {
    position: absolute;
    z-index: 1;
    width: 260px;
    left: 162px !important;
    top: 175px !important;
    box-shadow: -6px 20px 11px rgba(0, 0, 0, 0.1);
}

.parent {}

.parent .fixed_child {
    position: absolute;
}

.dropzone .dz-message {
    /* dropzone size adjustment */
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: -30px;
    color: #0a5881;
    text-align: center;
}

.dropzone .dz-message:before {
    /* dropzone size adjustment */
    content: '\e94b';
    font-family: 'feather';
    font-size: 20px;
    position: absolute;
    top: 30px;
    width: 80px;
    height: 80px;
    display: inline-block;
    left: 50%;
    margin-left: -40px;
    line-height: 1;
    z-index: 2;
    color: #0a5881;
    text-indent: 0;
    font-weight: normal;
}
</style>
<style>
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-color: #00517cf5 !important;
    height: 1.1rem !important;
}

.bgbtn {
    background-color: 00517cf5 !important;
}

.jcontent {
    justify-content: center;
}

.radio_box-style label {
    width: 100px;
    float: left;
    border: 1px solid #eee;
    margin-right: 20px;
    padding: 24px 5px 17px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 2px;
    font-size: var(--fs13px);
    position: relative;
    overflow: hidden;
}

.radio_box-style input[type='radio']:checked+label {
    border: 1px solid #2e71d9;
    color: #2e71d9;
}

.radio_box-style label:before {
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid #ccc;
    float: left;
    position: absolute;
    top: 7px;
    left: 7px;
    border-radius: 50%;
}

.radio_box-style label:after {
    content: "";
    width: 7px;
    height: 7px;
    float: left;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 50%;
}

.radio_box-style input[type='radio']:checked+label:after {
    background: #2e71d9;
}

.radio_box-style {
    margin-left: 9px;
}

.hl {
    margin-left: 9px;
}

.d6 {
    margin-left: 15px;
}



.bt1 {


		color: #FFF;

		font-size: var(--fs13px);
		font-weight: normal;
		text-align: center;
		cursor: pointer;
		padding: 7px 15px;
		outline: none;
		border-radius: 2px;
	}

	.sb {
		border: 1px solid;
	}

	.c1 {
		width: 200px;

	}

	.c2 {
		width: 400px;

	}


	#child {
		position: sticky;
		bottom: 70px;
		left: 100px;
	}

	.bg {
		background-color: #f4f5fa
	}

	.table th,
	.table td {
		padding: 0.75rem;
		vertical-align: text-top;
		border-top: 1px solid #626E82;
	}

	.tc {
		color: red;
	}

	.p {
		/*position: relative;*/
	}

	.bg {
		background-color: #FFF !important;
		padding-bottom: 0px;
		padding-top: 10px;
		position: sticky;
		bottom: 0px;
		/*left: 100px;*/

	}


	/* .dropzone {
		    min-height: 50px;
		    border: 2px dashed #673AB7;
		    background: #F4F5FA;
		} */
	.dropzone {
		min-height: 95px;
		border: 2px dashed rgb(10, 88, 129);
		background: white;
		padding: 20px 20px;
	}

	.dropzone,
	.dropzone * {
		box-sizing: border-box;
	}

	/* keep here */
	table.dataTable thead th,
	table.dataTable thead td {
		min-width: 60px;
		white-space: nowrap !important;
	}

	.table thead th {
		border-right: 1px dotted #c5d5ec;
		padding-left: 20px !important;
		padding-right: 5px !important;
	}

	.JColResizer>tbody>tr>td,
	.JColResizer>tbody>tr>th {
		overflow: hidden;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.option-table {
		cursor: move;
	}

	.adjust_checkbox_column {
		min-width: 20px !important;
		text-align: center;
		vertical-align: middle !important;
	}

	table.dataTable thead .sorting_asc {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
	}

	table.dataTable thead .sorting_desc {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
	}

	table.dataTable thead .sorting {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
	}

	.toggle-div-row {
		left: 160px;
		top: 177px;
    }
    



    .bt1 {


		color: #FFF;

		font-size: var(--fs13px);
		font-weight: normal;
		text-align: center;
		cursor: pointer;
		padding: 7px 15px;
		outline: none;
		border-radius: 2px;
	}

	.sb {
		border: 1px solid;
	}

	.c1 {
		width: 200px;

	}

	.c2 {
		width: 400px;

	}


	#child {
		position: sticky;
		bottom: 70px;
		left: 100px;
	}

	.bg {
		background-color: #f4f5fa
	}

	.table th,
	.table td {
		padding: 0.75rem;
		vertical-align: text-top;
		border-top: 1px solid #626E82;
	}

	.tc {
		color: red;
	}

	.p {
		/*position: relative;*/
	}

	.bg {
		background-color: #FFF !important;
		padding-bottom: 0px;
		padding-top: 10px;
		position: sticky;
		bottom: 0px;
		/*left: 100px;*/

	}


	/* .dropzone {
		    min-height: 50px;
		    border: 2px dashed #673AB7;
		    background: #F4F5FA;
		} */
	.dropzone {
		min-height: 95px;
		border: 2px dashed rgb(10, 88, 129);
		background: white;
		padding: 20px 20px;
	}

	.dropzone,
	.dropzone * {
		box-sizing: border-box;
	}

	/* keep here */
	table.dataTable thead th,
	table.dataTable thead td {
		min-width: 60px;
		white-space: nowrap !important;
	}

	.table thead th {
		border-right: 1px dotted #c5d5ec;
		padding-left: 20px !important;
		padding-right: 5px !important;
	}

	.JColResizer>tbody>tr>td,
	.JColResizer>tbody>tr>th {
		overflow: hidden;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.option-table {
		cursor: move;
	}

	.adjust_checkbox_column {
		min-width: 20px !important;
		text-align: center;
		vertical-align: middle !important;
	}

	table.dataTable thead .sorting_asc {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_asc.png") no-repeat center left;
	}

	table.dataTable thead .sorting_desc {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_desc.png") no-repeat center left;
	}

	table.dataTable thead .sorting {
		background: url("http://cdn.datatables.net/1.10.0/images/sort_both.png") no-repeat center left;
	}

	.toggle-div-row {
		left: 160px;
		top: 177px;
    }
    





    /*Freezing 1st Column and Row in Table - SOHAM*/
	#vendor_list_grid table {
    position: relative;
    border-collapse: collapse;
    }

    td, th {
    padding: 0.25em;
    }

    thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    background: #fff;
    
    }

    thead th:first-child {
    left: 0;
    z-index: 1;
    }
    .thead-custom{

	background-color: #0a5881 !important;
	color: #fff;
    }

    tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    top: 0;
    background: #d5e1e7;
    border-right: 1px solid #CCC;
    }

    .table-responsive {
        height: 382px;
        overflow-y: scroll
    }


    /* confrim js style------------------------------------------ */

    .confirm-style {
        padding: 0.5rem 0.75rem !important;
        font-size: 0.875rem !important;
        line-height: 1 !important;
        border-radius: 0.21rem !important;
        background-color: #003b7e !important;
        color: #fff !important;
    }

    .jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button.btn-default:hover,
    .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button.btn-default {
        padding: 0.5rem 0.75rem !important;
        font-size: 0.875rem !important;
        line-height: 1 !important;
        border-radius: 0.21rem !important;
        background-color: #003b7e !important;
        color: #fff !important;
    }

    .jconfirm .jconfirm-box {
        color: #003b7e;

    }