

.login-dark-body{
    background-image: url('https://yashussunlimited.com/buildteam/git_bot/assets/img/bg7.jpg');
     background-size: 100%; 
     background-color: rgba(0,0,0,0.5);
}


.label{
        margin-top: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
}
.card-header-yu{
    height:100px;
    background: linear-gradient(60deg, #000, #235195);
    position: absolute;
    width: 260px;
    top: -54px;
    box-shadow:1px 5px 10px rgba(0,0,0,.5);
    
    margin-left: 19px;
}


.digit-group input {
 width: 30px;
 height: 50px;
 background-color: #c5c5c5;
 border: none;
 line-height: 50px;
 text-align: center;
 font-size: 24px;
 font-weight: 200;
 color: black;
 margin: 0 2px;
}
.row-yu{
    display:flex
}

.digit-group .splitter {
 padding: 0 5px;
 color: black;
 font-size: 24px;
}

.cust{
    padding-top:10px;
}
.cust-dark{
    padding-top:10px;
    color: #fff;
}

.fa-user:before{
    font-size:17px !Important;
}

.fa-lock:before{
    font-size:17px !Important;
}

.prompt {
 margin-bottom: 20px;
 font-size: 20px;
 color: black;
}

.login-para{
    text-align: center; 
    color: #003b7e;
}

.login-para-dark{
    text-align: center;
    color: #fff;
}

.username-style{
    margin-bottom: 10px;
    margin-left:10px;
}
.password-style{
    margin-bottom: 10px; 
    margin-left:10px;

}
.card-body-dark{
    height: 30%;
    background: linear-gradient(60deg, #fff, #fff);
    border-radius: 5px;
}

.login-button{
    border-radius: 28px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    height: 35px !important;
    padding-top: 4px !important; 
    background-color: #003b7e !important; 
    color: #fff !important;
}
.login-button-dark{
    border-radius: 28px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    height: 35px !important;
    padding-top: 4px !important;
     background-color: #373738 !important; 
     color: #fff !important;
}

.login-div{
    display: flex;
    justify-content: center;
}

.forgot-div{
    justify-content: center;
}

.forgot-password{
    color: #235195;
    text-align: center;
    margin-bottom:0px;
}


.forgot-password-dark{
    color: #fff;
    text-align: center;
    margin-bottom:0px;
}

/* 
.row{
    margin-top: 160px;
}
 */



.card-login{
    width:300px;

}

.card-login-dark{
    width:300px; 
    background: linear-gradient(60deg, #cb1633, #ec8c43);
}


.login-head-style{
    height: 100px;
    background: 
    linear-gradient(60deg, #000, #235195); 
    border-radius: 5px;
}




#forbes-marshall{
    width:75%; 
    margin-top:27px;    
}

#forbes-marshall2{
     width:75%; 
    margin-top:27px;
}





.login-btn-dark-div{
    display: flex;justify-content: center;
}

.login-btn-dark{
    border-radius: 28px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
    height: 35px !important;
    padding-top: 4px !important;
     background-color: #cd0426 !important;
      color: #fff !important;
}



#logodesktop{
    width:75% !important; 
    margin-top:27px !important;
}


/*otp style*/

.login-page{
    background-image: url('https://yashussunlimited.com/buildteam/git_bot/assets/img/bg7.jpg');
    background-size: 100%;
}


.card-header-dark{
    height: 99.89px;
    background: linear-gradient(60deg, #000, #235195); 
    border-radius: 5px;
}
.card-header-darkk{
    height: 99.89px;
    height: 100px;
    position: absolute;
    width: 260px;
    top: -54px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, .5);
    /* display: flex; */
    margin-left: 19px;
    border-radius: 5px;
}
.otp-para{
    text-align: center;
     color: #003b7e;
     margin-top: 0px;
    margin-bottom: 0.2rem;
}

#si_otp_label{
    margin-top: -13px !important;
    margin-bottom: 0.5rem !important;
    text-align: left !important;
   
    margin-left: 1rem !important;
}   


.ip-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin-left: 10px;
}

.otp {
width: 30px;
height: 30px;
text-align: center;
border: none;
border-bottom: 3px solid #183868;
outline: none;
margin-top: -11px;
font-size: 17px;
font-size: x-large;
margin-right:5px;
}
.dark-text{
    color:#fff;
}

.otp-para{
    color: #000;
    text-align: center;
    margin-bottom:0px;
}
.resend-para{
    color:#000;
     margin-left: 4.7rem;;
}
.row-height{
    margin-left: 91.5px;
}

.cancel-button{
        border-radius: 28px;  
        background:#183868;
        margin-top: -7px; 
        color:#fff;
}

.expire{
    text-align: center;
}


.otp-div{margin-left: 32px;}
.yu-logo{
    margin-top: 28px;
    width: 200px;
}